.photo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    pointer-events: none;
}

.big-photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    pointer-events: none;
}

.large-photo {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    pointer-events: none; 
}

.circled {
    border-radius: 100%;
    text-align: center;
}

.main {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(244, 245, 248); */
    background-color: white;
}

.select-none {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Нормализация */
}