.photo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    pointer-events: none;
}

.big-photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    pointer-events: none;
}

.main {
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.select-none {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Нормализация */
}